# Django settings
SECRET_KEY=12345*****
DEBUG=False
ALLOWED_HOSTS=tracking-orders.cubinez.ru,localhost,127.0.0.1

# Database settings
DB_NAME=orders_db
DB_USER=user_orders
DB_PASSWORD=12345*****
DB_HOST=localhost
DB_PORT=5432
